/* 图像向上偏移80

适配IE（思🐎IE）

文字向下偏移100 */
/* 没个点占63px   即((n-1)*60+20) /2  */
/* pikachu 2020/08/25 */
html,
body {
	width: 100%;
	height: 100%;
}

ul,
font,
p,
html,
body,
div {
	padding: 0;
	margin: 0;
}

/* 隐藏滚动条 */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.text-title4::-webkit-scrollbar {
	display: none;
}

html::scrollbar,
body::scrollbar,
.text-title4::scrollbar {
	display: none;
}

/*滚动条隐藏 o内核*/
html .-o-scrollbar,
body .-o-scrollbar,
.text-title4 .-o-scrollbar {
	-moz-appearance: none !important;
	background: rgba(0, 255, 0, 0) !important;
}
html::-o-scrollbar-button,
body::-o-scrollbar-button,
.text-title4::-o-scrollbar-button {
	background-color: rgba(0, 0, 0, 0);
}
html::-o-scrollbar-track,
body::-o-scrollbar-track,
.scroll_content::-o-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}
html::-o-scrollbar-track-piece,
body::-o-scrollbar-track-piece,
.scroll_content::-o-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}
html::-o-scrollbar-thumb,
body::-o-scrollbar-thumb,
.scroll_content::-o-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0);
}
html::-o-scrollbar-corner,
body::-o-scrollbar-corner,
.scroll_content::-o-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0);
}
html::-o-scrollbar-resizer,
body::-o-scrollbar-resizer,
.scroll_content::-o-scrollbar-resizer {
	background-color: rgba(0, 0, 0, 0);
}

/* 滚动条隐藏 ie IE10,IE11,IE12 */
html,
body,
.text-title4 {
	-ms-scroll-chaining: chained;
	-ms-overflow-style: none;
	-ms-content-zooming: zoom;
	-ms-scroll-rails: none;
	-ms-content-zoom-limit-min: 100%;
	-ms-content-zoom-limit-max: 500%;
	-ms-scroll-snap-type: proximity;
	-ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
	-ms-overflow-style: none;
	overflow: auto;
}




#radius-border-div,
.vertical-center-text {
	position: absolute;
	top: 50%;
}

/* 背景图片 */
.mui-content {
	background: url(../src/user/bg/me_background.jpg) bottom center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	animation: 2s opacity1;
	-webkit-animation: 2s opacity1;
	-moz-animation: 2s opacity1;
	-o-animation: 2s opacity1;
	-ms-animation: 2s opacity1;

}

/* 载入渐显动画 */
@keyframes opacity1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes opacity1 {
	0% {
		-webkit-opacity: 0;
	}

	100% {
		-webkit-opacity: 1;
	}
}

@-moz-keyframes opacity1 {
	0% {
		-moz-opacity: 0;
	}

	100% {
		-moz-opacity: 1;
	}
}

@-o-keyframes opacity1 {
	0% {
		-o-opacity: 0;
	}

	100% {
		-o-opacity: 1;
	}
}

@-ms-keyframes opacity1 {
	0% {
		-ms-opacity: 0;
	}

	100% {
		-ms-opacity: 1;
	}
}



/* 左右切换图标 */
.vertical-center-img-l,
.vertical-center-img-r {
	position: relative;
	top: 50%;
	width: 30px;
	height: 52px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -106px;

}

/* 左图标 */
.vertical-center-img-l {
	float: left;
}

/* 右图标 */
.vertical-center-img-r {
	float: right;
}

/* 左右切换图标 鼠标放上动画 */
.vertical-center-img-l:hover,
.vertical-center-img-r:hover {
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	background-color: rgba(0, 0, 0, 0.3);
	/* rgba(255,201,82,0.4) */
	border-radius: 5px;
	padding: 5px;
	transition: 0.5s
}


/* 头像 */
#radius-border-div {
	left: 50%;
	margin: -191px 0 0 -111px;
	padding: 8px;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
}

/* 头像 */
#radius-border-div img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}


/* 鼠标放在头像上动画 */
#radius-border-div:hover {
	animation: pic 1.5s linear infinite;
	-webkit-animation: pic 1.5s linear infinite;
	-moz-animation: pic 1.5s linear infinite;
	-o-animation: pic 1.5s linear infinite;
	-ms-animation: pic 1.5s linear infinite;
	box-shadow: 0 0 20px #fff;

	/* border-color: #ffc952;
	box-shadow: 0 0 20px #ffc952; */
}

@keyframes pic {
	50% {
		transform: scale(1.1);
	}
}

@-webkit-keyframes pic {
	50% {
		-webkit-transform: scale(1.1);
	}
}

@-moz-keyframes pic {
	50% {
		-moz-transform: scale(1.1);
	}
}

@-o-keyframes pic {
	50% {
		-o-transform: scale(1.1);
	}
}

@-ms-keyframes pic {
	50% {
		-ms-transform: scale(1.1);
	}
}




/*头像旋转动画 */
#radius-border-div img {
	animation: rotate 15s linear infinite;
	-moz-animation: rotate 15s linear infinite;
	-webkit-animation: rotate 15s linear infinite;
	-o-animation: rotate 15s linear infinite;
	-ms-animation: rotate 15s linear infinite;
}

/*  值rotate改为rotateY为3D立体旋转  */
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* 火狐 */
@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0deg);
	}

	50% {
		-moz-transform: rotate(180deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	}
}

/* 谷歌 */
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

/* ie */
@-ms-keyframes rotate {
	0% {
		-ms-transform: rotate(0deg);
	}

	50% {
		-ms-transform: rotate(180deg);
	}

	100% {
		-ms-transform: rotate(360deg);
	}
}

/* 欧鹏 */
@-o-keyframes rotate {
	0% {
		-o-transform: rotate(0deg);
	}

	50% {
		-o-transform: rotate(180deg);
	}

	100% {
		-o-transform: rotate(360deg);
	}
}







/* 昵称,签名 文字 */
.vertical-center-text {
	width: 100%;
	height: 80px;
	margin: 70px 0 0 0;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	
}

.text-title,
.text-title2,
.text-title3,
.text-title4 {
	-ms-overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

/* 昵称 */
.text-title {
	font-size: 35px;
	color: #FFFFFF;
	white-space: nowrap;
	
}

/* 签名 */
.text-title2 {
	margin-top: 8px;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.4);
	white-space: nowrap;
	/* animation:userText 3s infinite; */
	/* -moz-transition:userText 1s infinite; */
}

/* 签名切换动画 */
@keyframes userText {
	80% {opacity: 1;margin-top: 8px;}
	90% {opacity: 0;margin-top: 30px;}
}
@-webkit-keyframes userText {
	80% {-webkit-opacity: 1;-webkit-margin-top: 8px;}
	90% {-webkit-opacity: 0;-webkit-margin-top: 30px;}
}
@-moz-keyframes userText {
	80% {-moz-opacity: 1;-moz-margin-top: 8px;}
	90% {-moz-opacity: 0;-moz-margin-top: 30px;}
}
@-o-keyframes userText {
	80% {-o-opacity: 1;-o-margin-top: 8px;}
	90% {-o-opacity: 0;-o-margin-top: 30px;}
}
@-ms-keyframes userText {
	80% {-ms-opacity: 1;-ms-margin-top: 8px;}
	90% {-ms-opacity: 0;-ms-margin-top: 30px;}
}



/* 触发后的 昵称 */
.text-title3 {
	font-size: 27px;
	color: #444f59;
	/* text-align: left; */
}

/* 标签 */
.text-title3_1 {
	border-radius: 5px;
	/*text-align: center;*/
	font-size: 5px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	display: inline-block;
	margin-left: 10px;
	color: #FFFFFF;
}

.text-title3_1:hover {
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	text-decoration: none;
	color: #FFFFFF;
}

/* 介绍 */
.text-title4 {
	margin-top: 8px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.4);
	overflow-y: auto;
	/* text-align: left; */
}

/* 介绍的 */
.text_onmose {
	margin:auto;
	width: fit-content;
}

.text_onmose:hover {
	background-color:
		/* rgba(255,201,82,0.6) */
		#fff;
	box-shadow: 0 0 10px
		/* #ffc952 */
		#fff;
	transition: 1s;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	/* margin-top: -10px; */
}

/* 介绍内容的样式 */
.text-title4 img {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 1px;
	border: #FFC952 solid 1px;
	border-radius: 5px;
}

.text-title4 b {
	color: #444F59;
	font-size: 15px;
}

.text-title4 img:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}






/* 圆点指示器 */
.vertical-center-o-list,
.o-false,
.o-true {
	height: 20px;
}

/* 圆点指示器 的ul属性 */
.vertical-center-o-list {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 320px 0 0 0;
}

/* 圆点选中,不选中 */
.o-false,
.o-true {
	float: left;
	border-radius: 50%;
	width: 20px;
	margin-left: 40px;
	list-style: none;
}

/* 圆点鼠标放上动画 未选中的 */
.o-false:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	background-color: rgba(255, 255, 255, 0.7);
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	/* 发光 */
	box-shadow: 0 0 10px
		/* #ffc952 */
		#fff;

}

/* 圆点鼠标放上动画 选中的 */
.o-true:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	/* background-image:linear-gradient(#e66465, #9198e5); */
	background-color: #ffc952;
	box-shadow: 0 0 10px #ffc952;
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}

/* 圆点选中 */
.o-true {
	background-color: #FFF;
}

/* 不选中选中 */
.o-false {
	background-color: rgba(255, 255, 255, 0.3);
}
